html{
    scroll-behavior: smooth;
    transition: all 10s ease-in-out;
}
/* Definições básicas para o corpo e fundo */
body {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #000000; /* Cor de fundo escura */
    color: #e0e0e0; /* Cor do texto clara */
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    font-size: 20px;

}

p{
    text-align: justify;
    font-size: 0.8em;
}
.titulo{
    font-size: 1.6em;
    margin-bottom: 0;
}
.texto{
    font-size: 0.8em;
    line-height: 1.8; 
    color: #757788;
}

/* Tema claro (padrão) */
body.light-theme nav,
body.light-theme footer {
    background-color: white; /* ou qualquer cor desejada para o tema claro */

}

/* Tema escuro */
body.dark-theme nav,
body.dark-theme footer {
    background-color: rgb(0, 0, 0); /* Cor desejada para o fundo do nav e footer no tema escuro */
}
body.dark-theme .texto{
    color: white;
}


/* Cabeçalhos */
h1, h2, h3, h4, h5, h6 {
    color: #f5f5f5; /* Cores dos cabeçalhos mais claras */
}




/* Fundo dos containers */
.container {
    background-color: #1e1e1e; /* Cor de fundo dos containers */
    padding: 20px;
    border-radius: 8px;
}


/* Formulários */
input, textarea {
    background-color: #333333; /* Cor de fundo dos inputs e textareas */
    color: #ffffff; /* Cor do texto dos inputs e textareas */
    border: 1px solid #444444; /* Cor da borda dos inputs e textareas */
    padding: 10px;
    border-radius: 4px;
}

input::placeholder {
    color: #131212; 
}

/* Menu de navegação */
nav {
    transition: background-color 0.5s ease, color 0.5s ease;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    padding: 10px;
    background-color: #000000;
    box-shadow: 0 4px 15px -4px rgba(0, 0, 0, 0.2);
}


.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #d0cdd0; /* Cor das barras do menu hambúrguer */
    margin: 3px 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #ffffff; /* Cor dos links do menu */
    text-decoration: none;
    font-size: 16px;
    display: inline-block; /* Faz o botão se comportar como um bloco em linha */
    padding: 15px 15px; /* Espaçamento interno do botão */
    margin: auto;
    text-decoration: none; /* Remove o sublinhado (para links) */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
}

#nav-links a:hover {
    color: #7971EA; /* Cor dos links do menu ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Ajuste conforme necessário */
        left: 0;
        background-color: #000000; /* Cor de fundo do menu hambúrguer */
        border-bottom: 1px solid #7b6e6e;
    }
    
    .nav-links.active {
        display: flex;
    }
    
    .menu-toggle {
        margin-left: -400px;
        display: flex;
    }
}
#inicio{
    margin-top: 15vh;

}
/* Layout Container */
.layout-container {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: space-between; /* Espaça os itens igualmente */
    padding: 20px;
}

/* Container */
.container {
    flex: 1; /* Faz o contêiner ocupar o máximo de espaço possível */
    margin-right: 20px; /* Espaço entre o contêiner e a imagem */
}

/* Image Container */
.image-container {
    flex: 1; /* Faz a imagem ocupar o máximo de espaço possível */
}

.image-container img {
    width: 100%; /* Ajusta a imagem para ocupar todo o espaço do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Opcional: arredonda os cantos da imagem */
}

.logo{
    margin-right: 10%;
}

@media (max-width: 600px){
    .logo{
        width: 100px;
        margin: auto;
    }
}


/* Estilo do botão */
.button {
    display: inline-block; /* Faz o botão se comportar como um bloco em linha */
    padding: 15px 45px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito no texto */
    color: #353030;/* Cor do texto */
    background-color: #78AD39; /* Cor de fundo */
    text-align: center; /* Alinha o texto ao centro */
    text-decoration: none; /* Remove o sublinhado (para links) */
    border-radius: 6px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */

}
.btn-vazado {
    display: inline-block; /* Faz o botão se comportar como um bloco em linha */
    padding: 15px 45px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito no texto */
    text-align: center; /* Alinha o texto ao centro */
    text-decoration: none; /* Remove o sublinhado (para links) */
    border-radius: 6px; /* Bordas arredondadas */
    border: 2px solid #78AD39; /* Cor da borda #78AD39*/
    color: #78AD39; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
}
.btn-vazado:hover {
    background-color: #78AD39; /* Cor do fundo ao passar o mouse */
    color: rgb(44, 37, 37); /* Cor do texto ao passar o mouse */
}

/* Estilo para o estado hover (quando o mouse está sobre o botão) */
.button:hover {
    background-color:#78AD39 ; /* Cor de fundo ao passar o mouse */
    color: #fcfafa;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20% 10%;
}

.content-container img {
    width: 100%; /* Ajuste conforme necessário */
    height: auto;
    border-radius: 8px;
}

.text-content, .image-content {
    flex: 1;
    padding: 40px;
}

.image-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-left .text-content {
    order: 2;
}

.text-left .image-content {
    order: 2;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .image-content, .text-content {
        padding: 10px;
    }
}

.contato {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.contato h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #d8d8d8;
}
.contato-texto{
    margin: 0 10%;

}



.contato button {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    background-color: #17A2B8;
    color: white;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contato button:hover {
    background-color: #138496;
}

@media (max-width: 768px) {
    .contato {
        width: 80%;
    }

    .contato h1 {
        font-size: 2.5em;
    }
    .contato button {
        font-size: 1.2em;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .contato {
        width: 90%;
    }

    .contato h1 {
        font-size: 2em;
    }

    .contato p {
        font-size: 0.9em;
    }

    .contato button {
        font-size: 1em;
        padding: 12px;
    }
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 100px;
    background-color: #000000;
    
  }
  
  footer .metodo {
    margin-left: 10%;
    width: 40%;
  }
  
  footer .redessociais {
    width: 30%;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;

  }
  footer .redessociais a {
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 0.8em;
    color: #276f91;
  }
 
  footer .redessociais a img {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  footer span {
    width: 100%;
    height: 120px;
    text-align: center;
    margin-top: 80px;
    color: white;
  }
  .text-parceiros{
    text-align: center;
    font-size: 2em;
   }
  @media (max-width: 768px) {
    footer .metodo,
    footer .redessociais {
      width: 100%;
      text-align: center;
    }
  
    footer .redessociais {
      margin-top: 20px;
    }
  
    footer .redessociais a {
      text-align: center;
    }
  }
.text-parceiros{
 text-align: center;
 font-size: 30px;
}
.text-parceiros h3{
    text-align: center;
    font-weight: bold; /* Negrito no texto */
   }
  .content-container {
    display: flex;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    gap: 10px; /* Espaço entre as imagens */
    margin-top: 20px; /* Espaço entre o texto e as imagens */
  }

  .image-content img {
    max-width: 100%; /* Ajusta o tamanho da imagem para não ultrapassar o contêiner */
    height: auto; /* Mantém a proporção das imagens */
  }
  /* Modo Claro */
body.light-theme {
    background-color: #ffffff; /* Cor de fundo clara */
    color: #000000; /* Cor do texto escura */
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body.light-theme h1, 
body.light-theme h2, 
body.light-theme h3, 
body.light-theme h4, 
body.light-theme h5, 
body.light-theme h6 {
    color:black; /* Cores dos cabeçalhos mais escuras */
}

body.light-theme nav a {
    color: #000000; /* Cor dos links */
    line-height: 1.6;
}

body.light-theme a:hover {
    color: #293d53; /* Cor dos links quando passar o mouse */
}

body.light-theme .container {
    background-color: #f5f5f5; /* Cor de fundo dos containers */
}


body.dark-theme .btn-theme{
    background-color: white;
}
body.dark-theme .btn-theme i{
    color: rgb(104, 104, 102);
}
body.light-theme .menu-toggle .bar{
    background-color: rgb(0, 0, 0);
}
body.dark-theme .nav-links.active{
    background-color: #000000;
}
/* Botão de alternância de tema */
.btn-theme {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 13px 15px;
    cursor: pointer;
    font-size: 16px;
}

.btn-theme i {
        color: rgb(180, 180, 167);
}


/* Menu de navegação para dispositivos móveis */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Ajuste conforme necessário */
        left: 0;
        background-color: #333; /* Cor de fundo padrão do menu em dispositivos móveis */
        border-bottom: 1px solid #fff9f9;
    }
    
    .nav-links.active {
        display: flex;
        background-color: #c1d7dd; /* Cor de fundo quando o menu está ativo */
    }
}
.nav-links a {
    position: relative; /* Necessário para o pseudo-elemento */
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #7971EA; /* Cor da barra */
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.nav-links a:hover::after {
    width: 100%; /* Expande a barra ao passar o mouse */
}



/* Estilo para o link ativo */
.nav-links li a.active::after {
    width: 100%;
    background-color: #7971EA; /* Cor da barra para o link ativo */
}

.nav-links li a.active {
    color: #7971EA; /* Cor do texto quando ativo */
}



/* Estilos para imagens de parceiros no tema claro */
body.light-theme .partner-image.ufca {
    content: url('./public/ufca-logo.png');
}

body.light-theme .partner-image.if {
    content: url('./public/ifce.png');
    
}

body.light-theme .partner-image.amaju {
    content: url('./public/amaju-light.jpeg');
}


/* Estilos para imagens de parceiros no tema escuro */
body.dark-theme .partner-image.ufca {
    content: url('../public/ufca-dark.png');
}

body.dark-theme .partner-image.if {
    content: url('../public/ifce-drak.png');
}

body.dark-theme .partner-image.amaju {
    content: url('../public/amaju-dark.png');
}


/*logo*/
/* Estilos para imagens de logo no tema claro */
body.light-theme .logo {
    content: url('../public/logo-light.png');
}

/* Estilos para imagens de logo no tema escuro */
body.dark-theme .logo {
    content: url('../public/logo-dark.png');
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    /* Ajustar o menu para telas menores */
    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none; /* Ocultar por padrão */
    }

    .nav-links.active {
        display: flex; /* Mostrar quando ativado */
    }

    /* Menu toggle */
    .menu-toggle {
        display: block;
        cursor: pointer;
        margin: 10px;
    }

    .menu-toggle .bar {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Ajustar imagem do logo */
    .logo {
        width: 150px; /* Ajustar conforme necessário */
    }

    /* Ajustar tamanho das imagens */
    .image-content img {
        width: 100%;
        height: auto;
    }

    /* Ajustar layout do botão */
    .button {
        display: block;
        width: 100%;
        text-align: center;
    }
}
#span{
    margin: 0 auto;
    padding: 30px;
}